body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #000000;
}

form {
    padding: 20px;
    box-sizing: border-box;
}



/* ------------------------------USER FORM------------------------ */

.user {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
    /* background-image:  url('image/room-image3.jpg'); */
    /* background-color: aquamarine;
    background-repeat: no-repeat; */
    background-color: grey;
    background-size: cover;
    margin: 5px;
    border-radius: 15px;
}

#userPFP{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#user_image{
    background-size: cover;
    background-position: center;
    height: 8rem;
    width: 9rem;
    border-radius: 15px;
}

#settingsBTN, #addBTN, #code{
    margin-top: 2rem;
}

#code{
    margin-bottom: 10px;
}

#addBTN{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    font-size: 3rem;
}

#code, #EnterBTN{
    width: 8rem;
    height: 20px;
}

#settings{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 20rem;
    padding: 20px 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0, 15);
    border-radius: 10px;
    background: #686868;
    border:1px solid #444444;
}

#settings.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#closeBTN{
    margin-bottom: 5rem;
    position: absolute;
    top: 1px;
    right: 10px;
    width: 20px;
    background: #686868;
    border:1px solid #444444;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

#logout-link{
    text-align: center;
    height: 20px;
    width: 99%;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border: 1px solid black;
    cursor: pointer;
}

#changeName{
    border: 1px solid black;
    text-align: center;
    height: 20px;
    width: 99%;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

/* ------------------------------ROOM LIST--------------------------*/

.room_list {
    width: 20%;
    background-color: #64646485;
    /* background-image:  url('image/room-image.jpg'); */
    /* background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 15px;
    align-items: center;
    color: white;
}

.roomClass{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
    height: 8%;
    width: 95%;
    background-color: #444444;
    color: #f2f2f2;
    cursor: pointer;
    border-radius: 15px;
}

/* -----------------------------MEDIA PLAYER------------------------ */

.mediaPlayer {
    width: 70%;
    background-color: #000000;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#music{
    width: 80%;
    height: 100%;
}

#player {
    /* background-image: url('image/audio4.jpg');
    background-size: cover;
    background-position: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 99%;
    background-color: rgb(36, 36, 36);
    border-radius: 15px;
}

#indicator{
    color: white;
    background-color: #616161;
    width: fit-content;
    height: fit-content;
}

#icon{
    margin-top: 25%;
    color: white;
}

#voting {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
#voting span {
    font-weight: bold;
    margin-bottom: 5px;
}

#voting div {
    display: flex;
    gap: 10px;
}

#voting button {
    background-color: #555;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
}

#voting button:hover {
    background-color: #777;
}

#voting button:active {
    background-color: #999;
}